<!DOCTYPE html>
<html>
  <head>
    <title>Slither</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1>SLITHER</h1>

      <div class="user_navigation">
        <% if current_user %>
        <img src="" width="64" height="64" />
        <p><%= current_user.handle %></p>
        <%= link_to "logout", logout_path %>
        <% else %>
        <p>You are not logged in, please <%= link_to "signup", signup_path %> or <%= link_to "login", login_path %> to join the SLITHER community!</p>
        <% end %>
      </div>

      <div id="play_button">
        <p>PLAY</p>
      </div>
    </div>

    <% flash.each do |name, message| %>
    <%= content_tag :dv, message, :id => "flash_#{name}" %>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
