<!DOCTYPE html>
<html>
  <head>
    <title>Slither</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if not flash.empty? %>
    <ul id="flash-message-container">
      <% flash.each do |name, message| %>
      <li class="flash-message"><%= content_tag :dv, message, :id => "flash_#{name}" %></li>
      <% end %>
    </ul>
    <% end %>

    <div id="header">
      <h1>SLITHER</h1>

      <div id="user_navigation">
        <% if current_user %>
        <%= render partial: "users/avatar", locals: {user: current_user, editable: true} %>
        <div id="account_info">
          <p><%= render partial: "users/handle", locals: {user: current_user} %></p>
          <p>LOL YOU'RE A GREAT USER GUY. GOOD STUFF! <%= link_to "logout", logout_path %></p>
        </div>
        <% else %>
        <p style="text-align: center;">You are not logged in, please <%= link_to "signup", signup_path %> or <%= link_to "login", login_path %> to join the SLITHER community!</p>
        <% end %>
      </div>

      <div id="home_button">
        <%= link_to image_tag("house.png"), home_path %>
      </div>
      <div id="play_button">
        <%= link_to "PLAY", controller: "pages", action: "game" %>
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
